@model Contacto
@{
    ViewData["Title"] = "Contacto";
    ViewData["SubTitle"] = "¿Agradecimietos o sugerencias? ¡te leemos!";
    ViewData["TitleHeader"] = "Envíanos un comentario";
    ViewData["Image"] = "/assets/img/rosaTelephone.jpg";
}
<div class="container">
    <main role="main" class=" mt-5 pt-6 pb-3">
        <section class="page-section" id="contact" style="background-image: url('/assets/img/phone.jpg')">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactános</h2>
                    <h3 class="section-subheading text-muted">Te responderemos a la brevedad</h3>
                </div>
                <form asp-action="Contacto">
                    <partial name="_FormContacto" model="@Model">
                        <button type="submit" class="btn btn-primary btn-xl text-uppercase" value="Contacto">Enviar</button>
                </form>

                
                @*<form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Nombre *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="E-mail *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">Campo requerido</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email no válido</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Teléfono" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Campo requerido.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Mensaje*" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Campo requerido.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">¡Mensaje enviado con éxito!</div>
                            Para activar este formularo, registrarse en:
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error al enviar mensaje!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Enviar</button></div>
                </form>*@
            </div>
        </section>
    </main>
</div>
