/* _content/ProyectoEstetica/Views/Shared/_Layout - Copia.Original.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ggse6gs875] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ggse6gs875] {
  color: #0077cc;
}

.btn-primary[b-ggse6gs875] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ggse6gs875], .nav-pills .show > .nav-link[b-ggse6gs875] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ggse6gs875] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ggse6gs875] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ggse6gs875] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ggse6gs875] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ggse6gs875] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoEstetica/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-73smbh0o0w] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-73smbh0o0w] {
    color: #0077cc;
}

.btn-rosa-bebe[b-73smbh0o0w] {
    background-color: #FFB6C1; /* Cambiar el color de fondo a rosa bebé */
    color: #000; /* Cambiar el color del texto a negro */
    /* Otros estilos opcionales */
    border-color: #FFB6C1; /* Cambiar el color del borde al mismo color del fondo */
}

    .btn-rosa-bebe:hover[b-73smbh0o0w] {
        background-color: #FFC0CB; /* Cambiar el color de fondo a un tono más claro al pasar el ratón */
        border-color: #FFC0CB; /* Cambiar el color del borde al mismo color del fondo al pasar el ratón */
        color: #000; /* Cambiar el color del texto a negro al pasar el ratón */
    }

.btn-primary[b-73smbh0o0w] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-73smbh0o0w], .nav-pills .show > .nav-link[b-73smbh0o0w] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-73smbh0o0w] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-73smbh0o0w] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-73smbh0o0w] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-73smbh0o0w] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-73smbh0o0w] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
